:host {
  display: block;
  width: 100%;

  mat-form-field {
    width: 70%;
  }

  .code {
    width: 70%;
    height: 3rem;

    &User {
      @extend .code;
      background-color: green;
    }
    &Error {
      @extend .code;
      background-color: red;
    }
  }
}
