@import '../../../colors';

:host {
  .progress-bar-container {
    height: 5px;
    background-color: #26becc;

    .progress-bar {
      height: 5px;
      background-color: #1d8c96;
    }
  }

  .counter {
    float: right;
  }
  padding-bottom: 2em;
}
